@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  padding: 15rem;
}
.boxFrame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border-radius: 10px;
}
.biodata {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border-radius: 10px;
  margin-top: 40px;
}
.counter-container {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.counter-container > button {
  /* width: 40rem; */
  padding: 10px 20px;
  background-color: rgb(42, 165, 93);
  border: none;
  color: aliceblue;
  border-radius: 4px;
  cursor: pointer;
}
.counter-container > button:hover {
  background-color: rgba(42, 165, 93, 0.288);
  color: rgb(42, 165, 93);
  transition: 0.4s;
}
.warning {
  color: red;
  font-weight: bold;
}
